@charset "utf-8";
/* CSS Document */
body {
  background-color: #ccf
}

#head{
	width:1500px;
	height:140px;
	background-color:#d8ff53;
}

.bigcontainer{
	 width: 900px;
	 height: 900px; 
	 margin-top: 25px;
	 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	 background-color: #72beff;
	 display:inline-block;
	 float:left;
}

#next{
	width: 700px;
	height: 700px;
	float: left;
	margin-top: 150px;
	margin-left:100px;
	margin-right: 100px;
	background: #3f9ce5; 
}
#outer {
	width: 500px;
	height: 500px;
	float: left;
	margin-top: 135px;
	margin-left:100px;
	margin-right: 100px;
	background: #23577f; 
}

#inner {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 160px; /*sibtract the font size from the margin*/
	margin-right: 100px;
	margin-left: 100px;
	background: #122b40;
	}

#sidebar{
	width:500px;
	height:900px;
	margin-left:100px;
	margin-top:25px;
	background-color:#75ffbf;
	display:inline-block;
	
}
